{% set icecast2 = salt['pillar.get']('icecast2', {
  'ssl': false,
  'lookup': salt['grains.filter_by']({
    'Debian': {
      'create_service': false,
      'server': 'icecast2',
      'config': '/etc/icecast2/icecast.xml',
      'port': 8000,
      'user': 'icecast2',
      'group': 'icecast',
      'binary': '/usr/bin/icecast2',
      'init_default': '/etc/default/icecast2',
      'dist_has_ssl': false
    }
  })
}, merge=True) %}
